<!--suppress ALL -->
<mj-section background-color="#25548B">
    <mj-column width="100%">
        <mj-text align="center" color="#eee">
            <span>
                <a href="https://mercantia.app" style="color: #eee; text-decoration: none;">Mercantia</a>
            </span>
        </mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>
